@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arturito Slab";
  src: url("../fonts/Arturito_Slab_v2.ttf");
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-Book.otf");
}

@layer components {
  @responsive {
    .subtitle {
      @apply font-Gotham-Book text-2xl leading-30px;
    }
    .title {
      @apply font-Arturito-Slab font-semibold text-28px leading-35px;
    }
    .main-title {
      @apply font-Arturito-Slab text-40px leading-45px font-bold;
    }

    .buttons {
      @apply font-medium text-15px leading-22px;
    }
    .arturito-regular {
      @apply font-Arturito-Slab text-15px leading-22px;
    }
    .block-one {
      background: linear-gradient(
          180deg,
          #2076ff 0%,
          rgba(52, 161, 253, 0) 51.73%,
          #2076ff 100%
        ),
        url("../images/block-one.png");
      background-blend-mode: normal, soft-light;
    }
    .block-two {
      background: linear-gradient(
          180deg,
          #2076ff 0%,
          rgba(52, 161, 253, 0) 51.73%,
          #2076ff 100%
        ),
        url("../images/block-two.png");
      background-blend-mode: normal, soft-light;
    }
    .block-three {
      background: linear-gradient(
          180deg,
          #2076ff 0%,
          rgba(52, 161, 253, 0) 51.73%,
          #2076ff 100%
        ),
        url("../images/block-three.png");
      background-blend-mode: normal, soft-light;
    }
    @media screen(md) {
      .block-one {
        background: linear-gradient(
            90deg,
            #2076ff 0%,
            rgba(32, 118, 255, 0) 49.48%,
            #2076ff 100%
          ),
          linear-gradient(
            180deg,
            #2076ff 0%,
            rgba(52, 161, 253, 0) 51.73%,
            #2076ff 100%
          ),
          url("../images/block-one-d.png");
        background-blend-mode: normal, normal, soft-light;
      }
      .block-two {
        background: linear-gradient(
            90deg,
            #2076ff 0%,
            rgba(32, 118, 255, 0) 49.48%,
            #2076ff 100%
          ),
          linear-gradient(
            180deg,
            #2076ff 0%,
            rgba(52, 161, 253, 0) 51.73%,
            #2076ff 100%
          ),
          url("../images/block-two-d.png");
        background-blend-mode: normal, normal, soft-light;
      }
      .block-three {
        background: linear-gradient(
            90deg,
            #2076ff 0%,
            rgba(32, 118, 255, 0) 49.48%,
            #2076ff 100%
          ),
          linear-gradient(
            180deg,
            #2076ff 0%,
            rgba(52, 161, 253, 0) 51.73%,
            #2076ff 100%
          ),
          url("../images/block-three-d.png");
        background-blend-mode: normal, normal, soft-light;
      }
    }
  }
  .hero-gradient {
    background: linear-gradient(
      180deg,
      #f86623 2.6%,
      #8a2eff 44.27%,
      #2076ff 100%
    );
  }
}

@layer base {
  body {
    @apply text-15px leading-22px font-Gotham text-white  min-h-screen bg-orange;
  }
  html {
    height: -webkit-fill-available;
  }
}

@layer utilities {
  .glitch {
    color: white;
    position: relative;
    animation: glitch 5s 5s infinite;
  }

  .glitch::before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: -5px 0 #f86623;
    background: #2076ff;
    overflow: hidden;
    top: 0;
    animation: noise-1 3s linear infinite alternate-reverse,
      glitch 5s 5.05s infinite;
  }

  .glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -5px 0 #34a1fd;
    background: #2076ff;
    overflow: hidden;
    top: 0;
    animation: noise-2 3s linear infinite alternate-reverse,
      glitch 5s 5s infinite;
  }

  @keyframes noise-1 {
    3.3333333333% {
      clip-path: inset(28px 0 33px 0);
    }
    6.6666666667% {
      clip-path: inset(5px 0 54px 0);
    }
    10% {
      clip-path: inset(14px 0 13px 0);
    }
    13.3333333333% {
      clip-path: inset(7px 0 93px 0);
    }
    16.6666666667% {
      clip-path: inset(39px 0 52px 0);
    }
    20% {
      clip-path: inset(69px 0 16px 0);
    }
    23.3333333333% {
      clip-path: inset(84px 0 17px 0);
    }
    26.6666666667% {
      clip-path: inset(8px 0 57px 0);
    }
    30% {
      clip-path: inset(85px 0 9px 0);
    }
    33.3333333333% {
      clip-path: inset(51px 0 38px 0);
    }
    36.6666666667% {
      clip-path: inset(57px 0 17px 0);
    }
    40% {
      clip-path: inset(69px 0 6px 0);
    }
    43.3333333333% {
      clip-path: inset(81px 0 8px 0);
    }
    46.6666666667% {
      clip-path: inset(48px 0 29px 0);
    }
    50% {
      clip-path: inset(16px 0 6px 0);
    }
    53.3333333333% {
      clip-path: inset(77px 0 7px 0);
    }
    56.6666666667% {
      clip-path: inset(80px 0 18px 0);
    }
    60% {
      clip-path: inset(24px 0 66px 0);
    }
    63.3333333333% {
      clip-path: inset(78px 0 7px 0);
    }
    66.6666666667% {
      clip-path: inset(28px 0 54px 0);
    }
    70% {
      clip-path: inset(55px 0 10px 0);
    }
    73.3333333333% {
      clip-path: inset(87px 0 3px 0);
    }
    76.6666666667% {
      clip-path: inset(10px 0 88px 0);
    }
    80% {
      clip-path: inset(53px 0 29px 0);
    }
    83.3333333333% {
      clip-path: inset(86px 0 6px 0);
    }
    86.6666666667% {
      clip-path: inset(33px 0 16px 0);
    }
    90% {
      clip-path: inset(61px 0 36px 0);
    }
    93.3333333333% {
      clip-path: inset(41px 0 46px 0);
    }
    96.6666666667% {
      clip-path: inset(48px 0 5px 0);
    }
    100% {
      clip-path: inset(3px 0 39px 0);
    }
  }
  @keyframes noise-2 {
    0% {
      clip-path: inset(49px 0 44px 0);
    }
    3.3333333333% {
      clip-path: inset(100px 0 1px 0);
    }
    6.6666666667% {
      clip-path: inset(48px 0 5px 0);
    }
    10% {
      clip-path: inset(43px 0 6px 0);
    }
    13.3333333333% {
      clip-path: inset(23px 0 30px 0);
    }
    16.6666666667% {
      clip-path: inset(30px 0 57px 0);
    }
    20% {
      clip-path: inset(72px 0 15px 0);
    }
    23.3333333333% {
      clip-path: inset(99px 0 2px 0);
    }
    26.6666666667% {
      clip-path: inset(94px 0 4px 0);
    }
    30% {
      clip-path: inset(95px 0 3px 0);
    }
    33.3333333333% {
      clip-path: inset(62px 0 3px 0);
    }
    36.6666666667% {
      clip-path: inset(15px 0 51px 0);
    }
    40% {
      clip-path: inset(36px 0 4px 0);
    }
    43.3333333333% {
      clip-path: inset(91px 0 7px 0);
    }
    46.6666666667% {
      clip-path: inset(40px 0 23px 0);
    }
    50% {
      clip-path: inset(55px 0 43px 0);
    }
    53.3333333333% {
      clip-path: inset(19px 0 29px 0);
    }
    56.6666666667% {
      clip-path: inset(16px 0 55px 0);
    }
    60% {
      clip-path: inset(78px 0 8px 0);
    }
    63.3333333333% {
      clip-path: inset(36px 0 33px 0);
    }
    66.6666666667% {
      clip-path: inset(53px 0 46px 0);
    }
    70% {
      clip-path: inset(4px 0 26px 0);
    }
    73.3333333333% {
      clip-path: inset(98px 0 2px 0);
    }
    76.6666666667% {
      clip-path: inset(80px 0 19px 0);
    }
    80% {
      clip-path: inset(42px 0 57px 0);
    }
    83.3333333333% {
      clip-path: inset(34px 0 19px 0);
    }
    86.6666666667% {
      clip-path: inset(75px 0 2px 0);
    }
    90% {
      clip-path: inset(36px 0 46px 0);
    }
    93.3333333333% {
      clip-path: inset(8px 0 55px 0);
    }
    96.6666666667% {
      clip-path: inset(23px 0 28px 0);
    }
    100% {
      clip-path: inset(75px 0 18px 0);
    }
  }
  @keyframes fudge {
    from {
      transform: translate(0px, 0px);
    }
    to {
      transform: translate(0px, 2%);
    }
  }
  @keyframes glitch-2 {
    1% {
      transform: rotateX(10deg) skewX(70deg);
    }
    2% {
      transform: rotateX(0deg) skewX(0deg);
    }
  }
}
