@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arturito Slab";
  src: url("../fonts/Arturito_Slab_v2.ttf");
}

@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Medium.otf");
}

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-Book.otf");
}

@layer components {
  @responsive {
    .subtitle {
      @apply font-Gotham-Book text-2xl leading-30px;
    }
    .title {
      @apply font-Arturito-Slab font-semibold text-28px leading-35px;
    }
    .main-title {
      @apply font-Arturito-Slab text-40px leading-45px font-bold;
    }

    .buttons {
      @apply font-medium text-15px leading-22px;
    }
    .arturito-regular {
      @apply font-Arturito-Slab text-15px leading-22px;
    }
    .block-one {
      background: linear-gradient(
          180deg,
          #2076ff 0%,
          rgba(52, 161, 253, 0) 51.73%,
          #2076ff 100%
        ),
        url("../images/block-one.png");
      background-blend-mode: normal, soft-light;
    }
    .block-two {
      background: linear-gradient(
          180deg,
          #2076ff 0%,
          rgba(52, 161, 253, 0) 51.73%,
          #2076ff 100%
        ),
        url("../images/block-two.png");
      background-blend-mode: normal, soft-light;
    }
    .block-three {
      background: linear-gradient(
          180deg,
          #2076ff 0%,
          rgba(52, 161, 253, 0) 51.73%,
          #2076ff 100%
        ),
        url("../images/block-three.png");
      background-blend-mode: normal, soft-light;
    }
    @media screen(md) {
      .block-one {
        background: linear-gradient(
            90deg,
            #2076ff 0%,
            rgba(32, 118, 255, 0) 49.48%,
            #2076ff 100%
          ),
          linear-gradient(
            180deg,
            #2076ff 0%,
            rgba(52, 161, 253, 0) 51.73%,
            #2076ff 100%
          ),
          url("../images/block-one-d.png");
        background-blend-mode: normal, normal, soft-light;
      }
      .block-two {
        background: linear-gradient(
            90deg,
            #2076ff 0%,
            rgba(32, 118, 255, 0) 49.48%,
            #2076ff 100%
          ),
          linear-gradient(
            180deg,
            #2076ff 0%,
            rgba(52, 161, 253, 0) 51.73%,
            #2076ff 100%
          ),
          url("../images/block-two-d.png");
        background-blend-mode: normal, normal, soft-light;
      }
      .block-three {
        background: linear-gradient(
            90deg,
            #2076ff 0%,
            rgba(32, 118, 255, 0) 49.48%,
            #2076ff 100%
          ),
          linear-gradient(
            180deg,
            #2076ff 0%,
            rgba(52, 161, 253, 0) 51.73%,
            #2076ff 100%
          ),
          url("../images/block-three-d.png");
        background-blend-mode: normal, normal, soft-light;
      }
    }
  }
  .hero-gradient {
    background: linear-gradient(
      180deg,
      #f86623 2.6%,
      #8a2eff 44.27%,
      #2076ff 100%
    );
  }
}

@layer base {
  body {
    @apply text-15px leading-22px font-Gotham text-white  min-h-screen bg-orange;
  }
  html {
    height: -webkit-fill-available;
  }
}
